:root{
    --highlight: rgb(230, 136, 60);
}
body {
    background-image: url("bilder/bakgrunn.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;        /* vertical centering */
    justify-content: center;    /* horizontal centering */
    height: 100vh;
}



.innhold {
    background-image: url("bilder/concrete-wall_535353.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 40pt;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.486);
}

.innhold p,
b {
    text-align: left;
    margin: 20pt;
}

b,
p,
h1,
h3,
h4 {
    color: white;
}

b,
p {
    text-align: left;
}

img {
    max-width: 100%;
    max-height: 360px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    display: inline-block;
}

b {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;

}

a {
    color: rgb(136, 150, 239);
    text-decoration: none;
}

.footer a:hover, .hvorforContainer a:hover{
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    margin-bottom: -4px;

}

h2 {
    color: var(--highlight);
    font-size: 26pt;
}

.logo {
    margin-left: 20pt;
    max-width: 80%;
    max-height: 50pt;
    float: left;
    margin-bottom: 20pt;

}


.boks {
    background-color: rgb(39, 39, 39);
    padding: 5pt;
    padding-bottom: 10pt;
    border-radius: 0 10rem 10rem 0;
    margin-right: 10pt;
    padding-left: 10pt;
}

.boks h1 {
    font-size: 35px;
    margin-bottom: .67em;
}

@media (max-width: 590px) {

    .logo {
        max-width: 100%;
        margin: 0;
        float: none;
    }

    .knapp {
        margin: 10px 0;
        float: none;
    }
    .boks{
        background-color: rgba(0,0,0,0);
    }
}

.knapp {
    background-color: rgb(131, 138, 144);
    color: white;
    border-radius: 3pt;
    padding: 5pt;
    width: 100pt;
    font-size: 18px;
    margin-right: 20pt;
    margin-left: 20pt;
    float: right;

}

.knappBoks {
    background-color: rgb(224, 130, 48);
    width: 175pt;
    padding: 15pt;
    display: inline-block;
    float: none;
}


@media (max-width: 560px) {
    .hvorforContainer {
        grid-template-columns: 1fr;
    }

    .comboHeader h1,
    h2 {
        font-size: 30px;
    }

    .comboHeader h2 {
        margin-bottom: -2px;
    }
}

